---
layout: default
regenerate: true
---
{% capture cutoff %}{{ '2013-05-30' | date: '%s'}}{% endcapture %}
{% assign cutoff = cutoff | plus: 0 %}
{% capture pagetime %}{{ date | date: '%s' }}{% endcapture %}
{% assign pagetime = pagetime | plus: 0 %}

<div class="post">
  {% if background %}
    <div class="hero" style="background-image: url('{{ background }}')"></div>
    <header class="post-header with-hero">
  {% else %}
    <header class="post-header">
  {% endif %}

      <h1 class="post-title">{{ title }}</h1>
      {% if subheading %}
        <p class="sub-heading">{{ subheading }}</p>
      {% endif %}
        <p class="post-meta">
          <time itemprop="startDate" datetime="{{ date | date_to_xmlschema }}">
            {% if language == 'fi' or pagetime < cutoff %}
              {{ date | date: "%-d.%-m.%Y" }}
            {% else %}
              {{ date | date: "%b %-d, %Y" }}
            {% endif %}
          </time>{% if meta %} • {{ meta }}{% endif %}
        </p>
    </header>

  <article class="post-content">
    {{ content }}
    {% if tags.size > 0 %}
      {% assign tagSize = tags.size | minus: 1 %}
      {% assign tagIndex = 0 %}
      {% capture pageTags %}
        {% for tag in tags %}
          <a href="/archive/{{ tag | replace: 'ä','a' | replace: 'ö','o' }}">{{tag}}</a>{% if tagIndex < tagSize %}, {% endif %}
          {% assign tagIndex = tagIndex | plus: 1 %}
        {% endfor %}
      {% endcapture %}
      {% if language == 'fi' or pagetime < cutoff %}
      <p class="categories">Kategoria{% if tags.size != 1 %}t{% endif %}: {{ pageTags }}</p>
      {% else %}
      <p class="categories">Categor{% if tags.size != 1 %}ies{% else %}y{% endif %}: {{ pageTags }}</p>
      {% endif %}
    {% endif %}
  </article>

  {% if comments.size > 0 %}
  <section class="comments">
    {% if language == 'fi' or pagetime < cutoff %}
      <h2>{{comments.size}} kommentti{% if comments.size != 1 %}a{% endif %}</h2>
    {% else %}
      <h2>{{comments.size}} comment{% if comments.size != 1 %}s{% endif %}</h2>
    {% endif %}
    {% for c in comments %}
      <article class="comment">
        <h3 class="author">
        {% if c.author_url == '' %}
          {{c.author}}
        {% else %}
          <a href="{{c.author_url}}" rel="author">{{c.author}}</a>
        {% endif %}
        {% if language == 'fi' or pagetime < cutoff %}
          &ndash; <time class="comment-date" pubdate datetime="{{c.date | date_to_xmlschema}}">{{c.date | date: "%-d.%-m.%Y"}}</time>
        {% else %}
          on <time class="comment-date" pubdate datetime="{{c.date | date_to_xmlschema}}">{{c.date | date: "%b %-d, %Y"}}</time>
        {% endif %}
        </h3>
        <p>
          {{c.content}}
        </p>
      </article>
    {% endfor %}
  </section>
  {% endif %}

  <section class="feedback">
    {% if language == 'fi' or pagetime < cutoff %}
    <h2>Kysymyksiä tai kommentoitavaa?</h2>
    <p>Lähetä viesti <a href="https://toot.community/@oivaeskola">Mastodonissa</a> tai
      <a href="mailto:oiva.eskola@gmail.com">sähköpostilla</a>.</p>
    {% else %}
    <h2>Questions or feedback?</h2>
    <p>Send a message on <a href="https://toot.community/@oivaeskola">Mastodon</a> or 
      <a href="mailto:oiva.eskola@gmail.com">email me</a>.</p>
    {% endif %}
  </section>
</div>
